<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- text is coming from server.js -->
    <!-- We use locals.text just in case it is named something different like text1234 or something like that -->
    <!-- If it's named something different, it will not throw an error -->
    Hello I am index <%= locals.text || "Default" %>
  </body>
</html>
